<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Mobile Automation Suite">
    <test name="All Tests">
        <classes>
            <class name="com.mobileautomation.runners.TestRunner"/>
        </classes>
    </test>
    <test name="Smoke Tests">
        <classes>
            <class name="com.mobileautomation.runners.SmokeTestRunner"/>
        </classes>
    </test>
    <test name="Regression Tests">
        <parameter name="tags" value="@regression"/>
        <classes>
            <class name="com.mobileautomation.runners.TestRunner"/>
        </classes>
    </test>
    <test name="Login Tests">
        <parameter name="tags" value="@login"/>
        <classes>
            <class name="com.mobileautomation.runners.TestRunner"/>
        </classes>
    </test>
</suite> 